body {
    padding: 50px;
    font-family: sans-serif;
    justify-content: center;
  }
  
  .grid {
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    text-align: center;
  }
  
  #outlined-basic {
    text-align: center;
    margin: auto;
  }
  
  button {
    text-align: center;
    margin: auto;
  }
  
  #chatDiv {
    margin: auto;
    text-align: center;
  }
  